<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrdersMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="ORDERS_ID">
		insert into ZR_ORDERS(
			ORDERS_NUMBER,	
			PRODUCTID,	
			PACKAGEID,	
			PACKAGENAME,	
			COLOR,	
			SIZE,	
			QUANTITY,	
			AMOUNT,	
			CONSIGNEE,	
			MOBILE,	
			ADDRESS,	
			POST_CODE,	
			ORDER_REMARK,	
			PAY_MODE,	
			LOGISTICS,	
			LOGISTICSNUM,	
			LAST_MODIFY,	
			ORDERSTATUS,	
			INPUTDATE,	
			IP,	
			MERCHANTID,	
			CHANNELS_ID,	
			BAK40
		) values (
			#{ORDERS_NUMBER},	
			#{PRODUCTID},	
			#{PACKAGEID},	
			#{PACKAGENAME},	
			#{COLOR},	
			#{SIZE},	
			#{QUANTITY},	
			#{AMOUNT},	
			#{CONSIGNEE},	
			#{MOBILE},	
			#{ADDRESS},	
			#{POST_CODE},	
			#{ORDER_REMARK},	
			#{PAY_MODE},	
			#{LOGISTICS},	
			#{LOGISTICSNUM},	
			#{LAST_MODIFY},	
			#{ORDERSTATUS},	
			#{INPUTDATE},	
			#{IP},	
			#{MERCHANTID},	
			#{CHANNELS_ID},	
			#{BAK40}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from ZR_ORDERS
		where 
			ORDERS_ID = #{ORDERS_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  ZR_ORDERS
			set 
			<if test="PRODUCTID != null and PRODUCTID !=''">
				PRODUCTID = #{PRODUCTID},
			</if>
			<if test="PACKAGEID != null and PACKAGEID !=''">
				PACKAGEID = #{PACKAGEID},
			</if>
			<if test="PACKAGENAME != null and PACKAGENAME !=''">
				PACKAGENAME = #{PACKAGENAME},
			</if>
			<if test="COLOR != null and COLOR !=''">
				COLOR = #{COLOR},
			</if>
			<if test="SIZE != null and SIZE !=''">
				SIZE = #{SIZE},
			</if>
			<if test="QUANTITY != null and QUANTITY !=''">
				QUANTITY = #{QUANTITY},
			</if>
			<if test="AMOUNT != null and AMOUNT !=''">
				AMOUNT = #{AMOUNT},
			</if>
			<if test="CONSIGNEE != null and CONSIGNEE !=''">
				CONSIGNEE = #{CONSIGNEE},
			</if>
			<if test="MOBILE != null and MOBILE !=''">
				MOBILE = #{MOBILE},
			</if>
			<if test="ADDRESS != null and ADDRESS !=''">
				ADDRESS = #{ADDRESS},
			</if>
			<if test="POST_CODE != null and POST_CODE !=''">
				POST_CODE = #{POST_CODE},
			</if>
			<if test="ORDER_REMARK != null and ORDER_REMARK !=''">
				ORDER_REMARK = #{ORDER_REMARK},
			</if>
			<if test="PAY_MODE != null and PAY_MODE !=''">
				PAY_MODE = #{PAY_MODE},
			</if>
			<if test="LOGISTICS != null and LOGISTICS !=''">
				LOGISTICS = #{LOGISTICS},
			</if>
			<if test="LOGISTICSNUM != null and LOGISTICSNUM !=''">
				LOGISTICSNUM = #{LOGISTICSNUM},
			</if>
			<if test="LAST_MODIFY != null and LAST_MODIFY !=''">
				LAST_MODIFY = #{LAST_MODIFY},
			</if>
			<if test="ORDERSTATUS != null and ORDERSTATUS !=''">
				ORDERSTATUS = #{ORDERSTATUS},
			</if>
			<if test="IP != null and IP !=''">
				IP = #{IP},
			</if>
			<if test="MIDS != null and MIDS !=''">
				MIDS = #{MIDS},
			</if>
			<if test="MERCHANTID != null and MERCHANTID !=''">
				MERCHANTID = #{MERCHANTID},
			</if>
			ORDERS_ID = ORDERS_ID
			where 
				ORDERS_ID = #{ORDERS_ID}
	</update>
	<!-- 定时器调用 -修改状态 -->
	<update id="Autoedit" parameterType="pd">
		update  ZR_ORDERS
			set 
				ORDERSTATUS = 7 
			where 
				INPUTDATE &gt; BAK40 and ORDERSTATUS=1 
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			PRODUCTID,	
			PACKAGEID,	
			PACKAGENAME,	
			COLOR,	
			SIZE,	
			QUANTITY,	
			AMOUNT,	
			CONSIGNEE,	
			MOBILE,	
			ADDRESS,	
			POST_CODE,	
			ORDER_REMARK,	
			PAY_MODE,	
			LOGISTICS,	
			LOGISTICSNUM,	
			LAST_MODIFY,	
			ORDERSTATUS,	
			INPUTDATE,	
			BAK40,	
			IP,	
			MERCHANTID,	
			MIDS,	
			ORDERS_ID
		from 
			ZR_ORDERS
		where 
			ORDERS_ID = #{ORDERS_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.ORDERS_NUMBER,	
				a.PRODUCTID,	
				a.PACKAGEID,	
				a.PACKAGENAME,	
				a.COLOR,	
				a.SIZE,	
				a.QUANTITY,	
				a.AMOUNT,	
				a.CONSIGNEE,	
				a.MOBILE,	
				a.ADDRESS,	
				a.POST_CODE,	
				a.ORDER_REMARK,	
				a.PAY_MODE,	
				a.LOGISTICS,	
				a.LOGISTICSNUM,	
				a.LAST_MODIFY,	
				a.ORDERSTATUS,	
				a.INPUTDATE,	
				a.BAK40,	
				a.MERCHANTID,	
				a.IP,	
				a.MIDS,	
				p.PRODUCT_NAME,
				a.ORDERS_ID
		from 
				ZR_ORDERS a 
JOIN ZR_PRODUCTS p on p.PRODUCTS_ID=a.PRODUCTID 
		where 1=1 
		<if test="pd.CONSIGNEE != null and pd.CONSIGNEE !=''">
			and a.CONSIGNEE LIKE CONCAT(CONCAT('%', #{pd.CONSIGNEE}),'%')
		</if>
		<if test="pd.MOBILE != null and pd.MOBILE !=''">
			and a.MOBILE LIKE CONCAT(CONCAT('%', #{pd.MOBILE}),'%')
		</if>
		<if test="pd.PRODUCTID != null and pd.PRODUCTID !=''">
			and a.PRODUCTID=#{pd.PRODUCTID}
		</if>
		<if test="pd.ORDERSTATUS != null and pd.ORDERSTATUS !=''">
			and a.ORDERSTATUS=#{pd.ORDERSTATUS}
		</if>
		<if test="pd.MERCHANTID != null and pd.MERCHANTID !=''">
			and a.MERCHANTID=#{pd.MERCHANTID}
		</if>
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and substr(a.INPUTDATE,1,10) &gt;= #{pd.lastLoginStart} 
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			and substr(a.INPUTDATE,1,10) &lt;= #{pd.lastLoginEnd} 
		</if>
		order by a.ORDERS_ID desc 
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.ORDERS_NUMBER,	
				a.PRODUCTID,	
				a.PACKAGEID,	
				a.PACKAGENAME,	
				a.COLOR,	
				a.SIZE,	
				a.QUANTITY,	
				a.AMOUNT,	
				a.CONSIGNEE,	
				a.MOBILE,	
				a.ADDRESS,	
				a.POST_CODE,	
				a.ORDER_REMARK,	
				a.PAY_MODE,	
				a.LOGISTICS,	
				a.LOGISTICSNUM,	
				a.LAST_MODIFY,	
				a.ORDERSTATUS,	
				a.INPUTDATE,	
				a.BAK40,	
				a.MERCHANTID,	
				a.IP,	
				a.MIDS,	
				a.ORDERS_ID
		from 
				ZR_ORDERS a 
		where 1=1 
		<if test="MIDS != null and MIDS !=''">
			and a.MIDS LIKE CONCAT(CONCAT('%', #{MIDS}),'%') 
		</if>
		<if test="ORDERSTATUS != null and ORDERSTATUS !=''">
			and a.ORDERSTATUS=#{ORDERSTATUS} 
		</if>
		 order by a.ORDERS_ID desc 
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from ZR_ORDERS
		where 
			ORDERS_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>