<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MerchantMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into ZR_MERCHANT(
			MERCHANT_NAME,	
			MERCHANT_LINKMAN,	
			MERCHANT_PHONE,	
			MERCHANT_ADDRESS,	
			MERCHANT_QQ,	
			USERID,	
			INPUTDATE,	
			MERCHANTSTATUS,	
			EXPLAINS,	
			BAK1
		) values (
			#{MERCHANT_NAME},	
			#{MERCHANT_LINKMAN},	
			#{MERCHANT_PHONE},	
			#{MERCHANT_ADDRESS},	
			#{MERCHANT_QQ},	
			#{USERID},	
			#{INPUTDATE},	
			#{MERCHANTSTATUS},	
			#{EXPLAINS},	
			#{BAK1}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from ZR_MERCHANT
		where 
			MERCHANT_ID = #{MERCHANT_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  ZR_MERCHANT
			set 
				MERCHANT_NAME = #{MERCHANT_NAME},
				MERCHANT_LINKMAN = #{MERCHANT_LINKMAN},
				MERCHANT_PHONE = #{MERCHANT_PHONE},
				MERCHANT_ADDRESS = #{MERCHANT_ADDRESS},
				MERCHANT_QQ = #{MERCHANT_QQ},
				USERID = #{USERID},
				EXPLAINS = #{EXPLAINS},
			MERCHANT_ID = MERCHANT_ID
			where 
				MERCHANT_ID = #{MERCHANT_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			MERCHANT_NAME,	
			MERCHANT_LINKMAN,	
			MERCHANT_PHONE,	
			MERCHANT_ADDRESS,	
			MERCHANT_QQ,	
			USERID,	
			INPUTDATE,	
			MERCHANTSTATUS,	
			EXPLAINS,	
			BAK1,	
			MERCHANT_ID
		from 
			ZR_MERCHANT
		where 
			MERCHANT_ID = #{MERCHANT_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.MERCHANT_NAME,	
				a.MERCHANT_LINKMAN,	
				a.MERCHANT_PHONE,	
				a.MERCHANT_ADDRESS,	
				a.MERCHANT_QQ,	
				a.USERID,	
				a.INPUTDATE,	
				a.MERCHANTSTATUS,	
				a.EXPLAINS,	
				a.BAK1,	
				a.MERCHANT_ID
		from 
				ZR_MERCHANT a
		where 1 = 1
		<if test="pd.MERCHANT_NAME != null and pd.MERCHANT_NAME != ''">
			and a.MERCHANT_NAME LIKE CONCAT(CONCAT('%', #{pd.MERCHANT_NAME}),'%')
		</if>
		<!-- <if test="pd.MERCHANT_LINKMAN != null and pd.MERCHANT_LINKMAN != ''">
			and a.pd.MERCHANT_LINKMAN LIKE CONCAT(CONCAT('%', #{pd.pd.MERCHANT_LINKMAN}),'%')
		</if> -->
		<if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''"><!-- 登录时间检索 -->
			and a.INPUTDATE &gt;= #{pd.lastLoginStart} 
		</if>
		<if test="pd.lastLoginEnd!=null and pd.lastLoginEnd!=''"><!-- 登录时间检索 -->
			and a.INPUTDATE &lt;= #{pd.lastLoginEnd} 
		</if>
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.MERCHANT_NAME,	
				a.MERCHANT_LINKMAN,	
				a.MERCHANT_PHONE,	
				a.MERCHANT_ADDRESS,	
				a.MERCHANT_QQ,	
				a.USERID,	
				a.INPUTDATE,	
				a.MERCHANTSTATUS,	
				a.EXPLAINS,	
				a.BAK1,	
				a.MERCHANT_ID
		from 
				ZR_MERCHANT a 
		where 1=1 
		<if test="MERCHANT_ID != null and MERCHANT_ID !=''">
			<![CDATA[
			 and a.MERCHANT_ID = #{MERCHANT_ID} 
			 ]]>
		</if>
		
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from ZR_MERCHANT
		where 
			MERCHANT_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>